/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue-1 : #3C429E;
  --blue-2 : #4C52AD;
  --yellow-1 : #FAC742;
  --white : #fff;
  --gray-1 : #EDEDED;
  --shadow-dark: rgba(0,0,0,0.3);
  --shadow-light : rgba(255,255,255,0.1);
}

body{
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  width:100%;
  height:100vh;
  font-size:16px;
  background:var(--blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
